# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/misc.xml
.idea/modules.xml
.idea/Tamil-HR.iml
.idea/vcs.xml
.idea/workspace.xml
old_test_data/00000.tiff
old_test_data/00001.tiff
old_test_data/00002.tiff
old_test_data/00003.tiff
old_test_data/00004.tiff
old_test_data/00005.tiff
old_test_data/00006.tiff
old_test_data/00007.tiff
old_test_data/00008.tiff
old_test_data/00009.tiff
old_test_data/00010.tiff
old_test_data/00011.tiff
old_test_data/00012.tiff
old_test_data/00013.tiff
old_test_data/00014.tiff
old_test_data/00015.tiff
old_test_data/00016.tiff
old_test_data/00017.tiff
old_test_data/00018.tiff
old_test_data/00019.tiff
old_test_data/00020.tiff
old_test_data/00021.tiff
old_test_data/00022.tiff
old_test_data/00023.tiff
old_test_data/00024.tiff
old_test_data/00025.tiff
old_test_data/00026.tiff
old_test_data/00027.tiff
old_test_data/00028.tiff
old_test_data/00029.tiff
old_test_data/00030.tiff
old_test_data/00031.tiff
old_test_data/00032.tiff
old_test_data/00033.tiff
old_test_data/00034.tiff
old_test_data/00035.tiff
old_test_data/00036.tiff
old_test_data/00037.tiff
old_test_data/00038.tiff
old_test_data/00039.tiff
old_test_data/00040.tiff
old_test_data/00041.tiff
old_test_data/00042.tiff
old_test_data/00043.tiff
old_test_data/00044.tiff
old_test_data/00045.tiff
old_test_data/00046.tiff
old_test_data/00047.tiff
old_test_data/00048.tiff
old_test_data/00049.tiff
old_test_data/00050.tiff
old_test_data/00051.tiff
old_test_data/00052.tiff
old_test_data/00053.tiff
old_test_data/00054.tiff
old_test_data/00055.tiff
old_test_data/00056.tiff
old_test_data/00057.tiff
old_test_data/00058.tiff
old_test_data/00059.tiff
old_test_data/00060.tiff
old_test_data/00061.tiff
old_test_data/00062.tiff
old_test_data/00063.tiff
old_test_data/00064.tiff
old_test_data/00065.tiff
old_test_data/00066.tiff
old_test_data/00067.tiff
old_test_data/00068.tiff
old_test_data/00069.tiff
old_test_data/00070.tiff
old_test_data/00071.tiff
old_test_data/00072.tiff
old_test_data/00073.tiff
old_test_data/00074.tiff
old_test_data/00075.tiff
old_test_data/00076.tiff
old_test_data/00077.tiff
old_test_data/00078.tiff
old_test_data/00079.tiff
old_test_data/00080.tiff
old_test_data/00081.tiff
old_test_data/00082.tiff
old_test_data/00083.tiff
old_test_data/00084.tiff
old_test_data/00085.tiff
old_test_data/00086.tiff
old_test_data/00087.tiff
old_test_data/00088.tiff
old_test_data/00089.tiff
old_test_data/00090.tiff
old_test_data/00091.tiff
old_test_data/00092.tiff
old_test_data/00093.tiff
old_test_data/00094.tiff
old_test_data/00095.tiff
old_test_data/00096.tiff
old_test_data/00097.tiff
old_test_data/00098.tiff
old_test_data/00099.tiff
old_test_data/00100.tiff
old_test_data/00101.tiff
old_test_data/00102.tiff
old_test_data/00103.tiff
old_test_data/00104.tiff
old_test_data/00105.tiff
old_test_data/00106.tiff
old_test_data/00107.tiff
old_test_data/00108.tiff
old_test_data/00109.tiff
old_test_data/00110.tiff
old_test_data/00111.tiff
old_test_data/00112.tiff
old_test_data/00113.tiff
old_test_data/00114.tiff
old_test_data/00115.tiff
old_test_data/00116.tiff
old_test_data/00117.tiff
old_test_data/00118.tiff
old_test_data/00119.tiff
old_test_data/00120.tiff
old_test_data/00121.tiff
old_test_data/00122.tiff
old_test_data/00123.tiff
old_test_data/00124.tiff
old_test_data/00125.tiff
old_test_data/00126.tiff
old_test_data/00127.tiff
old_test_data/00128.tiff
old_test_data/00129.tiff
old_test_data/00130.tiff
old_test_data/00131.tiff
old_test_data/00132.tiff
old_test_data/00133.tiff
old_test_data/00134.tiff
old_test_data/00135.tiff
old_test_data/00136.tiff
old_test_data/00137.tiff
old_test_data/00138.tiff
old_test_data/00139.tiff
old_test_data/00140.tiff
old_test_data/00141.tiff
old_test_data/00142.tiff
old_test_data/00143.tiff
old_test_data/00144.tiff
old_test_data/00145.tiff
old_test_data/00146.tiff
old_test_data/00147.tiff
old_test_data/00148.tiff
old_test_data/00149.tiff
old_test_data/00150.tiff
old_test_data/00151.tiff
old_test_data/00152.tiff
old_test_data/00153.tiff
old_test_data/00154.tiff
old_test_data/00155.tiff
old_test_data/00156.tiff
old_test_data/00157.tiff
old_test_data/00158.tiff
old_test_data/00159.tiff
old_test_data/00160.tiff
old_test_data/00161.tiff
old_test_data/00162.tiff
old_test_data/00163.tiff
old_test_data/00164.tiff
old_test_data/00165.tiff
old_test_data/00166.tiff
old_test_data/00167.tiff
old_test_data/00168.tiff
old_test_data/00169.tiff
old_test_data/00170.tiff
old_test_data/00171.tiff
old_test_data/00172.tiff
old_test_data/00173.tiff
old_test_data/00174.tiff
old_test_data/00175.tiff
old_test_data/00176.tiff
old_test_data/00177.tiff
old_test_data/00178.tiff
old_test_data/00179.tiff
old_test_data/00180.tiff
old_test_data/00181.tiff
old_test_data/00182.tiff
old_test_data/00183.tiff
old_test_data/00184.tiff
old_test_data/00185.tiff
old_test_data/00186.tiff
old_test_data/00187.tiff
old_test_data/00188.tiff
old_test_data/00189.tiff
old_test_data/00190.tiff
old_test_data/00191.tiff
old_test_data/00192.tiff
old_test_data/00193.tiff
old_test_data/00194.tiff
old_test_data/00195.tiff
old_test_data/00196.tiff
old_test_data/00197.tiff
old_test_data/00198.tiff
old_test_data/00199.tiff
old_test_data/00200.tiff
old_test_data/00201.tiff
old_test_data/00202.tiff
old_test_data/00203.tiff
old_test_data/00204.tiff
old_test_data/00205.tiff
old_test_data/00206.tiff
old_test_data/00207.tiff
old_test_data/00208.tiff
old_test_data/00209.tiff
old_test_data/00210.tiff
old_test_data/00211.tiff
old_test_data/00212.tiff
old_test_data/00213.tiff
old_test_data/00214.tiff
old_test_data/00215.tiff
old_test_data/00216.tiff
old_test_data/00217.tiff
old_test_data/00218.tiff
old_test_data/00219.tiff
old_test_data/00220.tiff
old_test_data/00221.tiff
old_test_data/00222.tiff
old_test_data/00223.tiff
old_test_data/00224.tiff
old_test_data/00225.tiff
old_test_data/00226.tiff
old_test_data/00227.tiff
old_test_data/00228.tiff
old_test_data/00229.tiff
old_test_data/00230.tiff
old_test_data/00231.tiff
old_test_data/00232.tiff
old_test_data/00233.tiff
old_test_data/00234.tiff
old_test_data/00235.tiff
old_test_data/00236.tiff
old_test_data/00237.tiff
old_test_data/00238.tiff
old_test_data/00239.tiff
old_test_data/00240.tiff
old_test_data/00241.tiff
old_test_data/00242.tiff
old_test_data/00243.tiff
old_test_data/00244.tiff
old_test_data/00245.tiff
old_test_data/00246.tiff
old_test_data/00247.tiff
old_test_data/00248.tiff
old_test_data/00249.tiff
old_test_data/00250.tiff
old_test_data/00251.tiff
old_test_data/00252.tiff
old_test_data/00253.tiff
old_test_data/00254.tiff
old_test_data/00255.tiff
old_test_data/00256.tiff
old_test_data/00257.tiff
old_test_data/00258.tiff
old_test_data/00259.tiff
old_test_data/00260.tiff
old_test_data/00261.tiff
old_test_data/00262.tiff
old_test_data/00263.tiff
old_test_data/00264.tiff
old_test_data/00265.tiff
old_test_data/00266.tiff
old_test_data/00267.tiff
old_test_data/00268.tiff
old_test_data/00269.tiff
old_test_data/00270.tiff
old_test_data/00271.tiff
old_test_data/00272.tiff
old_test_data/00273.tiff
old_test_data/00274.tiff
old_test_data/00275.tiff
old_test_data/00276.tiff
old_test_data/00277.tiff
old_test_data/00278.tiff
old_test_data/00279.tiff
old_test_data/00280.tiff
old_test_data/00281.tiff
old_test_data/00282.tiff
old_test_data/00283.tiff
old_test_data/00284.tiff
old_test_data/00285.tiff
old_test_data/00286.tiff
old_test_data/00287.tiff
old_test_data/00288.tiff
old_test_data/00289.tiff
old_test_data/00290.tiff
old_test_data/00291.tiff
old_test_data/00292.tiff
old_test_data/00293.tiff
old_test_data/00294.tiff
old_test_data/00295.tiff
old_test_data/00296.tiff
old_test_data/00297.tiff
old_test_data/00298.tiff
old_test_data/00299.tiff
old_test_data/00300.tiff
old_test_data/00301.tiff
old_test_data/00302.tiff
old_test_data/00303.tiff
old_test_data/00304.tiff
old_test_data/00305.tiff
old_test_data/00306.tiff
old_test_data/00307.tiff
old_test_data/00308.tiff
old_test_data/00309.tiff
old_test_data/00310.tiff
old_test_data/00311.tiff
old_test_data/00312.tiff
old_test_data/00313.tiff
old_test_data/00314.tiff
old_test_data/00315.tiff
old_test_data/00316.tiff
old_test_data/00317.tiff
old_test_data/00318.tiff
old_test_data/00319.tiff
old_test_data/00320.tiff
old_test_data/00321.tiff
old_test_data/00322.tiff
old_test_data/00323.tiff
old_test_data/00324.tiff
old_test_data/00325.tiff
old_test_data/00326.tiff
old_test_data/00327.tiff
old_test_data/00328.tiff
old_test_data/00329.tiff
old_test_data/00330.tiff
old_test_data/00331.tiff
old_test_data/00332.tiff
old_test_data/00333.tiff
old_test_data/00334.tiff
old_test_data/00335.tiff
old_test_data/00336.tiff
old_test_data/00337.tiff
old_test_data/00338.tiff
old_test_data/00339.tiff
old_test_data/00340.tiff
old_test_data/00341.tiff
old_test_data/00342.tiff
old_test_data/00343.tiff
old_test_data/00344.tiff
old_test_data/00345.tiff
old_test_data/00346.tiff
old_test_data/00347.tiff
old_test_data/00348.tiff
old_test_data/00349.tiff
old_test_data/00350.tiff
old_test_data/00351.tiff
old_test_data/00352.tiff
old_test_data/00353.tiff
old_test_data/00354.tiff
old_test_data/00355.tiff
old_test_data/00356.tiff
old_test_data/00357.tiff
old_test_data/00358.tiff
old_test_data/00359.tiff
old_test_data/00360.tiff
old_test_data/00361.tiff
old_test_data/00362.tiff
old_test_data/00363.tiff
old_test_data/00364.tiff
old_test_data/00365.tiff
old_test_data/00366.tiff
old_test_data/00367.tiff
old_test_data/00368.tiff
old_test_data/00369.tiff
old_test_data/00370.tiff
old_test_data/00371.tiff
old_test_data/00372.tiff
old_test_data/00373.tiff
old_test_data/00374.tiff
old_test_data/00375.tiff
old_test_data/00376.tiff
old_test_data/00377.tiff
old_test_data/00378.tiff
old_test_data/00379.tiff
old_test_data/00380.tiff
old_test_data/00381.tiff
old_test_data/00382.tiff
old_test_data/00383.tiff
old_test_data/00384.tiff
old_test_data/00385.tiff
old_test_data/00386.tiff
old_test_data/00387.tiff
old_test_data/00388.tiff
old_test_data/00389.tiff
old_test_data/00390.tiff
old_test_data/00391.tiff
old_test_data/00392.tiff
old_test_data/00393.tiff
old_test_data/00394.tiff
old_test_data/00395.tiff
old_test_data/00396.tiff
old_test_data/00397.tiff
old_test_data/00398.tiff
old_test_data/00399.tiff
old_test_data/00400.tiff
